.preview-description img {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .preview-description img {
        max-width: 25%;
        padding: 10px;
    }
}

.preview {
    display: block;
}

.header-content button {
    color: darkslategray;
    background-color: ghostwhite;
    padding: 8px;
}

.js-header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 15px;
}

.js-header-fixed .header-content {
    margin: auto;
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .js-header-fixed .header-content {
        width: 63%;
    }
}