.news-finder {
    padding: 10px;
    margin-left: 50px;
}

.news-finder input {
    width: 45%;
    padding: 5px;
}

.news-finder button {
    padding: 5px;
    background-color: darkseagreen;
    color: darkmagenta;
    font-weight: 600;
}

.news-previews-results .news-preview {
    margin-bottom: 10px;
}

.news-preview {
    padding: 15px;
}

.news-preview .preview-title {
    margin-bottom: 15px;
}